<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<% if (locals.usuarios && locals.usuarios.email) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

    <!-- Nuevos ingresos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">TODOS LOS PRODUCTOS DISPONIBLES</h2>
			</div>
			<!-- Show the "ultimos" products -->


			<% for (let i = 0; i < products.length; i++) { %> 
				<div class="col-12 col-sm-6 col-lg-3"> 
				   <section class="product-box">
					   <a href="/product/<%= products[i].id %>">
						   <figure class="product-box_image">
							   <img src="<%= products[i].foto_producto %>" alt=" ">
						   </figure>
						   <article class="product-box_data">
							   <h2> <%= products[i].marca + ' ' + products[i].modelo %> </h2>
							   <h3> 
								   Talles disponibles: <%= products[i].talle %>
								   <h3>
								   El buzo se publico el: <%= products[i].fecha_publicacion %>

									</h3>
							   </h3>
							   <p>Comentarios: <%= products[i].comentarios.length %> </p>  
							   									
						   </article>
					   </a>
				   </section>
				   
			   	</div>

				<% } %>   
				
   
		</div>
	</div>



    <%- include('./partials/footer') %>


</body>	
</html>