<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>


	<div class="container products-wrapper">
		
		<div class="d-flex align-items-center">

			<h2 class="products-title"> 
				 Buzo: <%= result.marca + ' ' %>   |      
			</h2>
			
			<h2 class="whitefont fontsize">
				|  Modelo: <%= result.modelo %>
			</h2>
		</div>
		<div>
			<p class="fontsize whitefont">
				Creado por : <a class="link" href="/users/profile/<&=result.usuario.id%>"><%= result.usuario.nombre %>    <%= result.usuario.apellido %></a>
			</p>
		</div>
			
		

		<% if (locals.user) { %>
		<p class="product-detail-description">
			<a href="/product/add"> Agregar nuevo producto </a>
		</p>
		<% } %>

		<!-- solo si el usuario esta logueado y es el creador de este producto puede editarlo -->
		<p class="product-detail-description">
			<a href="/product/edit/<%= result.id %>"> Editar producto </a>
		</p>
		

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<a href="/product/productEdit/<%= result.id %> ">
						<i class="fas fa-edit fa-4x"> </i> 
					</a> 
				
					<img src="<%= result.foto_producto%>" alt="" class="product-detail-img">
					<p class="product-detail-description"> Descripción: <%= result.descripcion %> </p>
				</article>

				<div class="col-12 col-lg-4">
				
				<section class="comments">					
					<% for (let i = 0; i < result.comentarios.length; i++) { %> 

							<article>
								
								<a href="/users/profile/<%= result.comentarios[i].usuarios.id_Usuario %> ">
									<img src="/images/<%=  result.comentarios[i].usuarios.fotodeperfil %> " alt="">
								</a>
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile/<%= result.comentarios[i].usuarios.id_Usuario %> "> 
										<%= result.comentarios[i].usuarios.nombre %>
									</a> </strong>

									<%= result.comentarios[i].comentario %>
									</p>
								</div>
							</article>

				<% } %>

					</section>

					<% if (locals.user) { %>
						<form class="form" action="/product/<%=result.id%>/comment " method="POST">
							<input class="form-input" type="text" name="comentario" id="comentario" value="" placeholder="Escribe aqui tu comentario">
							<button type="submit" class="buy-now-button"> AGREGAR COMENTARIO</button> 
						</form>
					<% } else { %>
						<a href="/login"><button class="button-orange"> Inicia sesión para comentar!</button></a>
					<% } %>
					

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	
<%- include('./partials/footer') %>

</body>	
</html>