<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
	<% if (locals.usuarios && locals.usuarios.email) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Joaquin, complete los datos del nuevo producto que desea agregar </h2>
			</div>
			<!-- Show the "ultimos" products -->
		
				<form class="formulario" action="/productAdd" enctype="multipart/form-data" method="POST">

					<p>
					<label for="nombre"> Nombre del producto: </label>
					<input type="text" name="nombre_producto" id="nombre_producto">
					</p>

					<p>
					<label for="imagen"> Imagen: </label>
					<input type="url" name="url_imagen" id="url_imagen">
					</p>

					<p>
					<label for="descripción"> Descripcion: </label>
					<input type="text" name="descripción" id="descripción">
					</p>
					
					<p>
						<label for= "nombre"> Fecha de publicacion (DD-MM-AAAA): </label>
						<input type="text" name="fecha_publicacion" id="fecha_publicacion">
					</p>
					

					<p>
						<label for= "nombre"> ID del publicador: </label>
						<input type="number" name="id_usuario" id="id_usuario" value= <%= locals.id %> readonly>
					</p>

					<p>
					<label for="foto_producto"> Agrega foto del producto: </label>
        			<input type="file" name="foto_producto" id="foto_producto">	
					</p>

					<p>
						<button type="submit" value= "enviar"> Agregar producto </button>
					</p>
	
	
				</form>

		</div>	
	</div>	

	<%- include('./partials/footer') %>
	
</body>

</html>