<!DOCTYPE html>
<html lang="es"> 

<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>



<div> 
	<div>
		<h2>Resultados de tu búsqueda</h2>
	</div>


	<div>
		<% for(let i=0; 1 < product.length; i++) { %>
			<% if (result == product[i].marca) { %>
				<div>
					<a href="/product/<%= product[i].id %> ">
						<img src="<%= product[i].foto_producto %>" alt="<%= product[i].marca %>">
						<h3><%= product[i].marca %> </h3>
						<h4><%= product[i].modelo %> </h4>
						<h4><%= product[i].descripcion %> </h4>
					</a>
				</div>
			<% } else if (result == product[i].modelo) { %> 
				<div>
					<a href="/product/<%= product[i].id %> ">
						<img src="<%= product[i].foto_producto %>" alt="<%= product[i].marca %>">
						<h3><%= product[i].marca %> </h3>
						<h4><%= product[i].modelo %> </h4>
						<h4><%= product[i].descripcion %> </h4>
					</a>
				</div>
			<% } else { %>
				<h2>No hay resultados para su criterio de búsqueda</h2>
			<% } %>
		<% } %>
	</div>
		
	 
</div>



<%- include('./partials/footer') %>

</body>

</html>

