<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
	<% if (locals.user) { %>
		<%- include('../partials/headerLogueado') %>
	<% } else { %>
		<%- include('../partials/header') %>
	<% } %>


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar </h2>
			</div>
			
				<form class="font-impact-white" action="" method="POST">

				<p>
				<label for="email"> Email:</label>
				<input type="email" name="email" id="email">
				</p>

				<p>
					<label for="password"> Contraseña:</label>
					<input type="password" name="password" id="password">
				</p>

				<p>
					<input type="checkbox" id="rememberme" name="rememberme">
       				<label for="rememberme"> Remember me</label> <br><br>
				</p>

				<p>
					<button class="button-orange" type="submit" value="Enviar"> Iniciar sesion </button>
				</p>
<<<<<<< HEAD
				 
			

=======
				
>>>>>>> e64807a16cf2927edaa6a10d04f777e4ca791ef3
				<% if (failed) { %>
					<span style="color: red;"> <%= fraseerror %> </span>
				<% } %>
				
				

			</form>

		</div>

	</div>
			
			
<%- include('../partials/footer') %>


</body>
</html>
